.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30vw;
  font-family: "Montserrat", sans-serif;
}

.searchContainer {
  color: white;

  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgray;
  width: 600px;
  max-width: 600px;
  height: 200px;
  max-height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.resultsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
